config SHIELD_PCBLANDER_LEFT
    def_bool $(shields_list_contains,pcblander_left)
    select ZMK_STUDIO_LAYOUT_SELECTION

config SHIELD_PCBLANDER_RIGHT
    def_bool $(shields_list_contains,pcblander_right)
    select ZMK_STUDIO_LAYOUT_SELECTION
